{{ define "main" }}
{{ partial "hero" . }}
{{ partial "breadcrumbs" . }}
{{ partial "intro" . }}
{{ with .Params.solutions }}
<section class="solutions pb-9">
    <div class="wrapper-lg flow">
        <h2 class="text-primary fade-up">{{ .heading }}</h2>
        <div class="pt-4 grid-4">
            {{ range .services }}
            <div class="service-card service-card--no-link fade-staggered">
                <div class="service-card__image-wrapper">
                    {{ partial "responsive-image" (dict "Page" . "image" .image "alt" .image_alt ) }}
                </div>
                <h3 class="service-card__title text-primary h6">{{ .heading | markdownify }}</h3>
                <p class="service-card__body">{{ .body | markdownify }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ partialCached "services-cta" . }}
{{ end }}