.card {
  background-color: $white;
  padding: $ic-600;

  &__icon-wrapper {
    height: $ic-700;
    width: $ic-700;
    position: relative;
    z-index: 1;

    &::before {
      background-image: url("/uploads/shield.svg");
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  svg {
    height: 60%;
    width: auto;
    fill: $white;
    position: relative;
    z-index: 2;
  }
}

.card:nth-of-type(1) {
  .card__icon-wrapper {
    svg {
      height: 40%;
      left: 2px;
    }
  }
}

.card:nth-of-type(2) {
  .card__icon-wrapper {
    svg {
      left: 1px;
    }
  }
}

.card:nth-of-type(3) {
  .card__icon-wrapper {
    svg {
      left: -1px;
    }
  }
}
