.intro {
  animation: slideup 0.5s ease-out;

  .bg-accent-block {
    height: 1200px;
    margin-top: -1100px;

    @include breakpoint(md) {
      height: 900px;
      margin-top: -800px;
    }
  }

  h3 {
    line-height: 1.5;
  }
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
