.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  transform: scale(0.8);
  overflow: hidden;

  @include breakpoint(md) {
    width: 800px !important;
    height: 600px !important;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1) translateX(-15px) !important;
}

.swiper-button-container {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 200px;
  height: 50px;
  justify-content: space-evenly;
  transform: translate(15px, 5px);

  @include breakpoint(md) {
    transform: translate(-60px, 15px);
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
  background-color: $primary-color;
  height: $ic-700 !important;
  width: $ic-700 !important;
  border-radius: $radius;

  svg {
    fill: $white;
    height: $ic-400;
    width: $ic-400;
  }
}

.swiper-pagination {
  position: relative !important;
  bottom: -10px !important;
  color: $primary-color !important;
  z-index: 2 !important;
}

.swiper-pagination-bullet-active {
  background-color: $primary-color !important;
  transform: scale(1.5);
}
