.video-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba($primary-color, 0.95);
  opacity: 0;
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  pointer-events: none;

  &__inner {
    width: 100%;
    max-width: 74rem;
    margin: 0 auto;

    button {
      background: none;
      border: none;
      position: absolute;
      top: 10px;
      right: 30px;
    }

    svg {
      width: 30px;
      height: 30px;
      fill: white;
      opacity: 1;
    }
  }
}

.video-overlay--open {
  opacity: 1;
  pointer-events: auto;
}

.video-trigger {
  cursor: pointer;

  &__button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__button {
    background-color: $secondary-color;
    border-radius: $radius;
    border: none;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    box-shadow: 0 10px 20px 0 rgba($secondary-color, 0.5);
  }

  svg {
    position: relative;
    width: 100px;
    height: 100px;
    fill: $white;
    padding: 1rem;
    left: 5px;
  }

  &__waves {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 350px;
    width: 350px;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
