.site-header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  background-color: $white;
  box-shadow: 0px 2px 30px rgba($primary-color, 0.1);
  border-bottom: 5px solid $primary-color;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: $ic-200;

    @include breakpoint(md) {
      overflow: visible;
    }
  }

  &__col {
    flex: 1;
  }

  .nav-list {
    display: none;

    @include breakpoint(md) {
      display: flex;
      margin: 0;
      padding: 0;
    }

    &__item {
      position: relative;
      list-style-type: none;
      margin-top: 0;
      padding: 0.5rem;

      @include breakpoint(lg) {
        padding: $ic-100;
      }
    }

    &__link {
      position: relative;
      text-decoration: none;
      color: $primary-color;
      font-family: $primary-font;
      font-size: $ic-100;
      font-weight: 500;
      transition: 0.3s ease-out;
      text-transform: uppercase;
      letter-spacing: 0.5px;

      &::after {
        background-color: $secondary-color;
        height: 3px;
        width: 100%;
        transform: scaleX(0);
        transform-origin: top right;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        transition: transform 0.4s ease-out;
      }

      @include breakpoint(md) {
        &:hover,
        &:focus {
          color: $primary-color;

          &::after {
            transform: scaleX(1);
            transform-origin: top left;
          }
        }
      }
    }

    .nav-list__item:last-of-type {
      padding-right: 0;
    }

    .has-sub-menu {
      &:hover,
      &:focus {
        .sub-menu-indicator svg {
          transform: rotate(180deg);
        }

        .nav-list__sub-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          transform: scaleY(1);
        }
      }
    }
  }

  .sub-menu-indicator {
    svg {
      position: relative;
      top: 1px;
      width: 12px;
      height: 12px;
      transition: .3s ease;
    }
  }

  .sub-menu {
    /* Border */
    margin-top: -1px;

    /* Hidden by default */
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in,
      visibility 0.3s ease-in;
    transition-delay: 0.3s;
    // transform: translateY(-25px);
    transform: scaleY(0);
    transform-origin: top;

    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 100%;
    min-width: 300px;
    width: max-content;

    /* Displayed on top of other elements */
    background-color: $white;
    box-shadow: 0px 20px 30px rgba($primary-color, 0.5);

    &__inner {
      padding: 0;
    }

    &__item {
      list-style-type: none;
      margin: 0;
      transition: 0.3s ease-out;
    }

    &__link {
      display: flex;
      color: $primary-color;
      font-size: $ic-100;
      padding: $ic-100 $ic-200;
      text-decoration: none;
      font-weight: 500;
      transition: 0.3s ease-out;
      transform: translateX(0);

      sup {
        margin-right: 0.3rem;
      }

      &:hover,
      &:focus {
        color: $secondary-color;
        transform: translateX(10px);
      }
    }
  }

  &__logo {
    .brand-logo {
      img {
        width: 100%;
        max-width: 150px;
        padding: $ic-100 0;

        @include breakpoint(lg) {
          max-width: 180px;
        }
      }
    }
  }

  &__secondary {
    display: none;

    @include breakpoint(md) {
      display: block;
    }

    .nav-list__item:last-of-type {
      .nav-list__link::after {
        transform: scaleX(1);
      }
    }
  }

  &__mobile-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $white;
    overflow: hidden;
    transition: 0.3s ease-out;

    @include breakpoint(md) {
      display: none;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        padding: 0;
      }
    }

    .nav-list-item {
      position: relative;
      border-bottom: 1px solid rgba($primary-color-4, 0.1);
      width: 96%;
      margin: 0 auto;

      a {
        display: block;
        padding: $ic-300;
        line-height: 1;
      }
    }

    a {
      color: $primary-color;
      text-decoration: none;
      width: 100%;
      transition: color 0.3s ease-out;

      &:hover,
      &:focus {
        color: $primary-color;
      }
    }

    .social {
      width: 96%;
      margin: 0 auto;
      padding: $ic-300;
    }
  }

  .toggle-mobile-dropdown {
    position: absolute;
    top: 6px;
    right: 0;
    height: $ic-700;
    width: $ic-800;
    background: none;
    border: none;
    border-left: 1px solid rgba($primary-color-4, 0.1);

    &::before,
    &::after {
      content: "";
      width: 1rem;
      height: 2px;
      background-color: $primary-color-4;
      position: absolute;
      transition: 0.3s ease;
      top: 50%;
      right: 30%;
      transform: translate(-30%, -30%);
    }

    &::before {
      transform: translate(-30%, -30%) rotate(90deg);
    }
  }

  .nav-list-dropdown {
    display: none;

    li {
      border-bottom: none;
    }

    a {
      font-size: $ic-100;
      padding: 0 $ic-300 $ic-200 $ic-300;
      color: rgba($primary-color, 0.8);
    }
  }

  .active {
    border-bottom: 1px solid rgba($primary-color-4, 0.1);

    .parent {
      border-bottom: none;
    }

    .nav-list-dropdown {
      display: block;
    }

    .toggle-mobile-dropdown {
      &::before {
        transform: translate(-30%, -30%) rotate(0deg);
      }
    }
  }

  &__contact {
    a {
      width: 100%;
      padding-bottom: 0.5rem;
    }
  }
}

.collapse {
  @include breakpoint(md) {
    animation: collapse 0.5s ease forwards;
  }
}

// Open nav bar on scroll up
.expand {
  @include breakpoint(md) {
    animation: expand 0.5s ease forwards;
  }
}

@keyframes collapse {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes expand {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-open {
  transform: translateX(0);
  opacity: 1;
  overflow: hidden;
  visibility: visible;
}
