{{ define "main" }}
{{ partial "hero" . }}
{{ partial "breadcrumbs" . }}
{{ partial "intro" . }}
{{ with .Params.innovators_block }}
<section class="innovators-block">
    <div class="features-row row">
        <div class="features-row__image image-column w-100 w-60-m video-trigger">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/vDMDwjgTT4g?enablejsapi=1&html5=1&autoplay=1&loop=1&mute=1&controls=0" title="The Center on Rural Innovation: The Future is Rural" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {{ partialCached "video-button" . }}
            <div class="video-details">
                <p>Watch "{{ .video.title }}" {{ .video.length }}</p>
            </div>
            {{ partialCached "youtube-api-script" . }}
        </div>
        <div class="text-column block w-100 w-40-m bg-gray">
            <div class="features-row__inner-content bg-primary text-white flow fade-up">
                <h2>
                    {{ .heading | markdownify }}
                    {{ if .subheading }}
                    <span class="divider"></span>
                    {{ end }}
                </h2>
                {{ if .subheading }}
                <h3 class="fw-4 h5">{{ .subheading | markdownify }}</h3>
                {{ end }}
                {{ if .body }}
                <p>{{ .body | markdownify }}</p>
                {{ end }}
                <p class="video-cite">{{ .video.cite | markdownify }}</p>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ with .Params.leadership_team }}
<section class="leadership-block block">
    <div class="wrapper">
        <h2 class="text-primary fade-up text-center max-width-none">
            {{ .heading | markdownify }}
            {{ if .subheading }}
            <span class="divider--center"></span>
            {{ end }}
        </h2>
        {{ if .subheading }}
        <h3 class="fw-4 h5 fade-up text-center max-width-none">{{ .subheading | markdownify }}</h3>
        {{ end }}
        {{ if .body }}
        <p class="fade-up text-center">{{ .body | markdownify }}</p>
        {{ end }}
        <div class="wrapper-sm">
            <div class="staff-cards pt-6">
                {{ range .team }}
                <div class="staff-card flex flex-column fade-staggered">
                    {{ if .image }}
                    <div class="staff-card__image-wrapper">
                        <picture>
                            <source srcset="https://ecpwi.imgix.net{{ .image }}?fm=avif&q=85&w=347&h=443&crop=faces&fit=crop" type="image/avif">
                        
                            <source srcset="https://ecpwi.imgix.net{{ .image }}?fm=webp&q=85&w=347&h=443&crop=faces&fit=crop" type="image/webp">
                        
                            <source srcset="https://ecpwi.imgix.net{{ .image }}?q=85&w=347&h=443&crop=faces&fit=crop" type="image/jpg">
                            <img loading="lazy"
                                src="https://ecpwi.imgix.net{{ .image }}" width="347" height="443" alt="{{ .image_alt }}">
                        </picture>
                    </div>
                    {{ end }}
                    <div class="staff-card__content flow">
                        {{ if .name }}
                        <h3 class="text-primary staff-card__title no-margin">{{ .name }}</h3>
                        {{ end }}
                        {{ if .title }}
                        <h4 class="staff-card__title h5 fw-5 no-margin">{{ .title }}</h4>
                        {{ end }}
                        {{ if .bio }}
                        <p class="staff-card__body fw-5">{{ .bio }}</p>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ partialCached "services" . }}
{{ partial "site-cta" . }}
<div class="video-overlay">
    <div class="video-overlay__inner wrapper">
        <button title="close the video" aria-label="close the video popup" class="video-overlay__button">{{ partial "svg-icons/close.svg" . }}</button>
        <div class="aspect-ratio">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/vDMDwjgTT4g?enablejsapi=1&html5=1&loop=1" title="The Center on Rural Innovation: The Future is Rural" id="video" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
{{ end }}