<section class="site-cta fade-up">
  <div class="wrapper-lg">
    <div class="site-cta__inner block">
      <div class="site-cta__background">
        {{ partialCached "cta-image" . }}
      </div>
      <div class="site-cta__content wrapper flow fade-up">
        <h2>
          {{ .Site.Data.global_partials.co4_cta.heading }}
          <span class="divider"></span>
        </h2>
        <h3 class="h4 fw-5">{{ .Site.Data.global_partials.co4_cta.subheading }}</h3>
        <a href="/contact/" class="btn btn-secondary">Contact Us{{ partial "svg-icons/arrow-right.svg" . }}</a>
      </div>
    </div>
  </div>
</section>