<form name="contact" method="post" action="/thank-you/">
    <div class="visually-hidden">
        <label for="subject">New form submission from the ecpwi.com contact form</label>
        <input aria-label="subject" name="subject" value="New form submission from the ecpwi.com contact form" />
    </div>
    <div class="contact-form__form-row">
    <div class="contact-form__row-wrapper">
        <div class="contact-form__form-group">
        <label for="name">Name*</label>
        <input name="name" id="name" type="text" class="contact-form__form-control" required>
        </div>
        <div class="contact-form__form-group">
        <label for="email">Email*</label>
        <input name="_replyto" id="email" type="email" class="contact-form__form-control" required>
        </div>
    </div>
    </div>
    <div class="contact-form__form-row">
    <div class="contact-form__row-wrapper">
        <div class="contact-form__form-group">
        <label for="phone">Phone*</label>
        <input name="phone" id="phone" type="tel" class="contact-form__form-control" required>
        </div>
        <div class="contact-form__form-group">
        <label for="business_name">Business Name</label>
        <input name="business_name" id="business_name" type="text" class="contact-form__form-control">
        </div>
    </div>
    </div>
    <div class="contact-form__form-group">
        <label for="specific_space_interested_in">Specific space you're interested in?</label>
        <input name="specific_space_interested_in" id="specific_space_interested_in" type="text" class="contact-form__form-control">
        </div>
    <div class="contact-form__form-group">
        <label for="message">How may we help you?*</label>
        <textarea name="message" id="message" class="contact-form__form-control" rows="4" required></textarea>
    </div>
    <input type="hidden" name="inbox_key" value="ecp-website-notifications">
    <!-- <input type="text" name="_gotcha" style="display: none;"> -->
    <!-- <div class="h-captcha" data-sitekey="1e9bb55c-d77b-4e97-8b6c-7357bd21dd64"></div> -->
    <button type="submit" class="contact-form__btn btn btn-primary">Send Message {{ partial "svg-icons/arrow-right.svg" . }}</button>
</form>