<div class="contact-sidebar flow">
  <div class="contact-info flow">
    <h3 class="text-primary h4">{{ .Site.Data.site_settings.business_name }}</h3>
    <p>
      {{ .Site.Data.site_settings.address.street }}
      <br>
      {{ .Site.Data.site_settings.address.city }}, {{ .Site.Data.site_settings.address.state }} {{ .Site.Data.site_settings.address.zip }}
    </p>
    <p>
    Phone: <a href="tel:{{ .Site.Data.site_settings.phone }}">{{ .Site.Data.site_settings.phone }}</a>
    </p>
    <p>
    <a href="mailto:{{ .Site.Data.site_settings.email }}">Email {{ .Site.Data.site_settings.business_name }}</a>
    </p>
  </div>
  <div class="contact-info flow">
    <h3 class="text-primary h4">Careers at {{ .Site.Data.site_settings.business_name }}</h3>
    <p>
      Looking for a job that doesn't feel like work?
    </p>
    <a href="/apply/" class="btn btn-primary">Join our team {{ partialCached "svg-icons/arrow-right.svg" . }}</a>
  </div>
</div>