<footer id="footer" class="footer">
  <div class="footer__top block">
    <div class="wrapper-lg">
      <div class="flex flex-column flex-row-m fade-staggered">
        <div class="footer__col flex flex-column">
          <a class="footer__logo" href="{{ site.BaseURL }}">
            {{ if .Site.Data.site_settings.footer_logo }}
              <img src="/uploads/{{ .Site.Data.site_settings.footer_logo }}" alt="{{ .Site.Data.site_settings.business_name }} logo" class="dim" width="200" height="100">
            {{ else }}
              <h2>{{ site.Title }}</h2>
            {{ end }}
          </a>
        </div>
        <div class="footer__col fade-staggered">
          <h3 class="h4 text-primary">Contact Us</h3>
          <div class="footer__contact flow">
            <p>
              {{ .Site.Data.site_settings.address.street }}<br>
              {{ .Site.Data.site_settings.address.city }}, {{ .Site.Data.site_settings.address.state }} {{ .Site.Data.site_settings.address.zip }} 
            </p>
            <p class="flex phone"><a href="tel:{{ .Site.Data.site_settings.phone }}" class="footer__link">{{ .Site.Data.site_settings.phone }}</a></p>
          </div>
        </div>
        <div class="footer__col fade-staggered">
          <h3 class="h4 text-primary">Navigate</h3>
          <ul class="footer__nav flex flex-column">
            {{ range .Site.Menus.footer }}
            <li class="footer__nav-item">
              <a class="footer__link" href="{{ .URL }}" aria-label="{{ .Name }}">
                {{ .Name }}
              </a>
            </li>  
            {{ end }}
          </ul>
        </div>
        <div class="footer__col w-100 w-25-m fade-staggered">
          <h3 class="h4 text-primary">Connect With Us</h3>
          {{ partialCached "social-media" . }}
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom wrapper-lg">
    <div class="footer__bottom-wrapper flex flex-column flex-row-m flex-justify-between flex-center">
      <div class="copyright flex flex-column flex-row-m">
        <p class="copyright__date">© {{ dateFormat "2006" now }} {{ .Site.Data.site_settings.business_name }}</p>
        <ul class="copyright__nav flex">
          <!-- <li class="copyright__list-item"><a href="#" class="copyright__nav-item">Customer Login</a></li> -->
          <li class="copyright__list-item"><a href="/privacy-policy/" class="copyright__nav-item">Privacy Policy</a></li>
          <li class="copyright__list-item"><a href="/sitemap/" class="copyright__nav-item">Sitemap</a></li>
          <li class="copyright__list-item"><a href="/contact/" class="copyright__nav-item">Contact</a></li>
        </ul>
        <div class="credits"><a href="https://insightcreative.com" target="_blank">Website by Insight Creative, Inc.</a></div>
      </div>
    </div>
  </div>
  <img src="/uploads/electric-city-properties-tent.svg" alt="Electric City Properties Tent" class="footer__tent">
</footer>
{{ partial "scripts" . }}