{{ $heroClass := lower .Page.Title }}
<div class="{{ anchorize $heroClass }}-hero">
  {{ partial "hero-image" . }}
  <div class="home-hero__overlay flex flex-justify-start">
    <div class="wrapper-lg">
      <div class="home-hero__content text-center">
        <h1 class="text-primary max-width-none shift-up letter-sp-1">{{ .Params.hero.heading }}</h1>
        <h2 class="text-primary h3 max-width-none">{{ .Site.Data.global_partials.subscribe.heading }}</h2>
        <p>{{ .Site.Data.global_partials.subscribe.body }}</p>
        <div class="subscribe">
        </div>
      </div>
    </div>
  </div>
</div>
