{{ $image := (.Page.Resources.GetMatch (index .image)) }}

<picture>
    <source sizes="100vw" srcset="https://insight-creative-inc.imgix.net/uploads/{{ .image }}?fm=avif&q=85&width=400 400w, https://insight-creative-inc.imgix.net/uploads/{{ .image }}?fm=avif&q=85&width=600 600w, https://insight-creative-inc.imgix.net/uploads/{{ .image }}?fm=avif&q=85&width=800 800w, https://insight-creative-inc.imgix.net/uploads/{{ .image }}?fm=avif&q=85&width=1000 1200w" type="image/avif">

    <source sizes="100vw" srcset="https://insight-creative-inc.imgix.net/uploads/{{ .image }}?fm=webp&q=85&width=400 400w, https://insight-creative-inc.imgix.net/uploads/{{ .image }}?fm=webp&q=85&width=600 600w, https://insight-creative-inc.imgix.net/uploads/{{ .image }}?fm=webp&q=85&width=800 800w, https://insight-creative-inc.imgix.net/uploads/{{ .image }}?fm=webp&q=85&width=1000 1200w" type="image/webp">

    <source sizes="100vw" srcset="https://insight-creative-inc.imgix.net/uploads/{{ .image }}?q=85&width=400 400w, https://insight-creative-inc.imgix.net/uploads/{{ .image }}?q=85&width=600 600w, https://insight-creative-inc.imgix.net/uploads/{{ .image }}?q=85&width=800 800w, https://insight-creative-inc.imgix.net/uploads/{{ .image }}?q=85&width=1000 1200w" type="image/jpeg">
    <img loading="lazy"
        src="https://insight-creative-inc.imgix.net/uploads/{{ .image }}" width="900" height="300" alt="{{ .alt }}">
</picture>
