<div class="wrapper-lg">
    <div class="pt-4 grid-3">
        {{ range .Params.solutions.services }}
        <a href="{{ .url }}" class="service-card fade-staggered">
            <div class="service-card__image-wrapper">
                {{ partial "responsive-image" (dict "Page" . "image" .image.image_url "alt" .image.image_alt ) }}
                <div class="service-card__text-overlay">
                    <h3 class="text-primary h5">{{ .heading }}</h3>
                    <p>{{ .description }}</p>
                </div>
            </div>
        </a>
        {{ end }}
    </div>
</div>