<section class="services-list pb-9">
    <div class="wrapper-lg">
        <h2 class="text-primary">Our Services</h2>
        <div class="pt-4 grid-4">
            {{ range .Site.Data.global_partials.services_block }}
            <a href="{{ .url }}" class="service-card fade-staggered">
                <div class="service-card__image-wrapper">
                    {{ partial "responsive-image" (dict "Page" . "image" .image "alt" .image_alt ) }}
                </div>
                <h3 class="service-card__title text-primary h4 no-margin">{{ .heading }}</h3>
                <p class="service-card__body">{{ .body }}</p>
                <div class="service-card__learn-more"><span class="flex">Learn More <span class="icon-wrapper">{{ partialCached "svg-icons/plus.svg" . }}</span></span></div>
            </a>
            {{ end }}
            <div class="service-card service-card--no-link fade-staggered">
                <div class="service-card__image-wrapper">
                    <img src="/uploads/electric-city-properties-logo-cover-image.jpg" alt="">
                </div>
                <h3 class="service-card__title text-primary h4 no-margin">New Properties Coming Soon</h3>
                <p class="service-card__body">Stop back soon to find more ways Electric City Properties can serve you!</p>
                <div class="service-card__learn-more"><span class="flex">Learn More <span class="icon-wrapper">{{ partialCached "svg-icons/plus.svg" . }}</span></span></div>
            </div>
        </div>
    </div>
    <div class="bg-accent-block w-100 w-60-m fade-up"></div>
</section>