<ul class="share-buttons flex">
    <li class="share-buttons__list-items">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook" target="_blank" rel="noopener noreferrer" class="share-buttons__link">
            <div class="share-buttons__icon-wrapper background-circle background-circle--sm">
                {{ partial "svg-icons/facebook.svg" . }}
            </div>
        </a>
    </li>
    <li class="share-buttons__list-items">
        <a href="https://twitter.com/intent/tweet?source={{ .Permalink }}" target="_blank" rel="noopener noreferrer" title="Tweet" class="share-buttons__link">
            <div class="share-buttons__icon-wrapper background-circle background-circle--sm">
                {{ partial "svg-icons/twitter.svg" . }}
            </div>
        </a>
    </li>
    <li class="share-buttons__list-items">
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" target="_blank" rel="noopener noreferrer" title="Share on LinkedIn" class="share-buttons__link">
            <div class="share-buttons__icon-wrapper background-circle background-circle--sm">
                {{ partial "svg-icons/linkedin.svg" . }}
            </div>
        </a>
    </li>
    <li class="share-buttons__list-items">
        <a href="mailto:?subject=&body={{ .Permalink }}" target="_blank" rel="noopener noreferrer" title="Send email" class="share-buttons__link">
            <div class="share-buttons__icon-wrapper background-circle background-circle--sm">
                {{ partial "svg-icons/email.svg" . }}
            </div>
        </a>
    </li>
</ul>