<div class="subscribe subscribe--footer fade-up">
  <div class="wrapper-lg">
    <div class="subscribe__inner block bg-primary">
        <div class="subscribe__content wrapper-md flex flex-column flex-row-m">
            <div class="w-100 w-60-m flow">
                <h2 class="h4">{{ .Site.Data.global_partials.subscribe.heading }}</h2>
                <p>{{ .Site.Data.global_partials.subscribe.body }}</p>
                <div class="share flex flex-center">
                    <p>Share the excitement!</p>
                    <ul class="share-buttons flex">
                      <li class="share-buttons__list-items">
                          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.ecpwi.com{{ .RelPermalink }}" title="Share on Facebook" target="_blank" rel="noopener noreferrer" class="share-buttons__link">
                              <div class="share-buttons__icon-wrapper background-circle background-circle--sm">
                                  {{ partial "svg-icons/facebook.svg" . }}
                              </div>
                          </a>
                      </li>
                      <li class="share-buttons__list-items">
                          <a href="https://twitter.com/intent/tweet?source=https://www.ecpwi.com{{ .RelPermalink }}" target="_blank" rel="noopener noreferrer" title="Tweet" class="share-buttons__link">
                              <div class="share-buttons__icon-wrapper background-circle background-circle--sm">
                                  {{ partial "svg-icons/twitter.svg" . }}
                              </div>
                          </a>
                      </li>
                      <li class="share-buttons__list-items">
                          <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.ecpwi.com{{ .RelPermalink }}" target="_blank" rel="noopener noreferrer" title="Share on LinkedIn" class="share-buttons__link">
                              <div class="share-buttons__icon-wrapper background-circle background-circle--sm">
                                  {{ partial "svg-icons/linkedin.svg" . }}
                              </div>
                          </a>
                      </li>
                      <li class="share-buttons__list-items">
                          <a href="mailto:?subject=&body=https://www.ecpwi.com{{ .RelPermalink }}" target="_blank" rel="noopener noreferrer" title="Send email" class="share-buttons__link">
                              <div class="share-buttons__icon-wrapper background-circle background-circle--sm">
                                  {{ partial "svg-icons/email.svg" . }}
                              </div>
                          </a>
                      </li>
                  </ul>
                </div>
            </div>
            <div class="w-100 w-40-m">
                {{ partialCached "subscribe-form-placeholder" . }}
            </div>
        </div>
        <img src="/uploads/blue-bolt.svg" alt="" class="subscribe__bolt">
    </div>
</div>
</div>