<section class="solutions block">
    <div class="wrapper-lg flow">
        {{ with .Params.intro }}
            {{ if .heading }}
            <h2 class="text-primary fade-up">
                {{ .heading }}
                {{ if .subheading }}
                <span class="divider"></span>
                {{ end }}
            </h2>
            {{ end }}
            {{ if .subheading }}
            <h3 class="fw-4 h5 fade-up">{{ .subheading }}</h3>
            {{ end }}
            {{ if .body }}
            <p class="fade-up">{{ .body | markdownify }}</p>
            {{ end }}
        {{ end }}
        {{ if .Params.solutions.services }}
        <div class="pt-4 grid-4">
            {{ range .Params.solutions.services }}
            <a href="{{ .url }}" class="service-card fade-staggered">
                <div class="service-card__image-wrapper">
                    <picture>
                        <source srcset="https://ecpwi.imgix.net{{ .image }}?fm=avif&q=75&height=300&width=300&fit=crop" type="image/avif">
                    
                        <source srcset="https://ecpwi.imgix.net{{ .image }}?fm=webp&q=75&height=300&width=300&fit=crop" type="image/webp">
                    
                        <source srcset="https://ecpwi.imgix.net{{ .image }}?q=75&height=300&width=300&fit=crop" type="image/jpg">
                        <img loading="lazy"
                            src="https://ecpwi.imgix.net{{ .image }}" width="300" height="300" alt="{{ .image_alt }}">
                    </picture>
                </div>
                <p class="service-card__body fw-5">{{ .heading | markdownify }}</p>
                <div class="service-card__learn-more"><span class="flex">Learn More <span class="icon-wrapper">{{ partialCached "svg-icons/plus.svg" . }}</span></span></div>
            </a>
            {{ end }}
        </div>
        {{ end }}
        {{ if .Params.solutions.body }}
        <div class="solutions-body flow">
            <p class="fade-up">{{ .Params.solutions.body }}</p>
            <a href="/contact/" class="btn btn-primary fade-up">Contact Us{{ partial "svg-icons/arrow-right.svg" . }}</a>
        </div>
        {{ end }}
    </div>
    <div class="bg-accent-block w-100 w-80-m fade-up"></div>
</section>