<div class="wrapper-lg">
    <div class="subscribe__inner block bg-primary">
        <div class="subscribe__content wrapper-md flex flex-column flex-row-m">
            <div class="w-100 w-60-m flow">
                <h2 class="h4">{{ .Site.Data.global_partials.subscribe.heading }}</h2>
                <p>{{ .Site.Data.global_partials.subscribe.body }}</p>
                <div class="share flex flex-center">
                    <p>Share the excitement!</p>
                    {{ partial "share-buttons" . }}
                </div>
            </div>
            <div class="w-100 w-40-m">
                {{ partialCached "subscribe-form-placeholder" . }}
            </div>
        </div>
        <img src="/uploads/blue-bolt.svg" alt="" class="subscribe__bolt">
    </div>
</div>