<form method="post" name="email_signup_cta">
    <div class="visually-hidden">
        <label for="subject">New form submission from the ecpwi.com email signup form</label>
        <input aria-label="subject" name="subject" value="New form submission from the ecpwi.com email signup form" />
    </div>
    <div class="contact-form__form-row">
        <div class="contact-form__form-group flex flex-column">
            <label for="email_2">Email*</label>
            <input name="_replyto" id="email_2" type="email" class="contact-form__form-control" placeholder="Email Address" required>
        </div>
    </div>
    <input type="hidden" name="inbox_key" value="ecp-website-notifications">
    <!-- <input type="text" name="_gotcha" style="display: none;"> -->
    <button type="submit" class="contact-form__btn btn btn-secondary">Sign me up {{ partial "svg-icons/arrow-right.svg" . }}</button>
</form>