{{ define "main" }}
{{ $heroClass := lower .Page.Title }}
<div class="hero {{ anchorize $heroClass }}-hero">
  <div class="hero__image">
    <picture>
      <source sizes="100vw" srcset="https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=avif&q=50&height=600&width=400 600w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=avif&q=50&height=400&width=800 800w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=avif&q=50&height=500&width=1000&fit=crop 1000w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=avif&q=50&height=600&width=1200&fit=crop 1200w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=avif&q=50&height=700&width=1400&fit=crop 1400w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=avif&q=50&height=900&width=1800&fit=crop 1800w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=avif&q=50&height=1000&width=2000&fit=crop 2000w" type="image/avif">
  
      <source sizes="100vw" srcset="https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=webp&q=50&height=600&width=400&fit=crop 600w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=webp&q=50&height=400&width=800&fit=crop 800w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=webp&q=50&height=500&width=1000&fit=crop 1000w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=webp&q=50&height=600&width=1200&fit=crop 1200w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=webp&q=50&height=700&width=1400&fit=crop 1400w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=webp&q=50&height=900&width=1800&fit=crop 1800w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=webp&q=50&height=1000&width=2000&fit=crop 2000w" type="image/webp">
  
      <source sizes="100vw" srcset="https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=jpg&q=50&height=600&width=400&fit=crop 600w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=jpg&q=50&height=400&width=800&fit=crop 800w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=jpg&q=50&height=500&width=1000&fit=crop 1000w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=jpg&q=50&height=600&width=1200&fit=crop 1200w,https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=jpg&q=50&height=700&width=1400&fit=crop 1400w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=jpg&q=50&height=900&width=1800&fit=crop 1800w, https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg?fm=jpg&q=50&height=1000&width=2000&fit=crop 2000w" type="image/jpg">
      <img src="https://ecpwi.imgix.net/uploads/contact-us-hero-alt.jpg" width="1500" height="600" alt="">
    </picture>
  </div>
  <div class="hero__overlay flex flex-center">
    <div class="wrapper-lg">
      <div class="hero__content text-white text-center">
        <h1 class="max-width-none">{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<section class="block">
    <div class="wrapper">
        <article>
            <h2 class="text-primary">The page you requested could not be found.</h2>
            <p>The page you’ve requested does not exist, or is unavailable at this time. Our website has recently been redesigned so if you tried to load a bookmarked page, or followed a link from another web site, it’s possible that the page you’ve requested has been moved. Use the navigation menu to locate the information you are looking for or <a href="{{ "/" | relURL }}">go back to the homepage</a>.</p>
            <ul>
                {{ range .Site.Menus.main }}
                          {{ if .HasChildren }}
                              <li>
                                <a href="{{ .URL }}" aria-label="{{ .Name | markdownify }}">
                                  {{ .Name | markdownify }}
                                </a>
                                <div>
                                  <ul>
                                    {{ range .Children }}
                                      <li>
                                          <a href="{{ .URL }}" aria-label="{{ .Name | markdownify }}">{{ .Name | markdownify }}</a>
                                      </li>
                                    {{ end }}
                                  </ul>
                                </div>
                              </li>
                          {{ else }}
                          <li>
                            <a href="{{ .URL }}" aria-label="{{ .Name }}">
                                {{ .Name }}
                            </a>
                          </li>
                          {{ end }}    
                        {{ end }}
            </ul>
        </article>
    </div>
</section>
{{ end }}