{{ define "main" }}
{{ partial "hero" . }}
{{ partial "breadcrumbs" . }}
{{ partial "intro" . }}
<div class="contact-content block bg-gray">
  <div class="wrapper-lg">
    <div class="flex flex-column flex-row-m">
      <div class="w-100 w-60-m">
        <div class="contact-form">
          <div class="contact-form__wrapper">
            <legend class="h5 text-primary b">Get in Touch!</legend>
            {{ partialCached "contact-form" . }}
          </div>
        </div>
      </div>
      <div class="w-100 w-40-m">
        {{ partialCached "contact-info" . }}
      </div>
    </div>
  </div>
</div>
{{ partial "site-cta" . }}
{{ end }}