.site-main a:not(.btn):not(.breadcrumbs__link):not(.share-buttons__link) {
  color: $primary-color;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 $secondary-color;
  transition: 0.3s cubic-bezier(0.17, 0.88, 0.5, 1.5);

  &:hover,
  &:focus {
    box-shadow: inset 0 -13px 0 $secondary-color !important;
    outline-color: $secondary-color;
  }
}

.decorated-link {
  text-decoration: none;
  position: relative;

  &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    content: "";
    background-color: $secondary-color;
    height: 2px;
  }
}
