.list {
  list-style-type: none;
}

ul li + li,
ol li + li {
  margin-top: 0.5em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

.styled-list,
.storage-spaces {
  li {
    position: relative;
    list-style-type: none;
    break-inside: avoid;

    &::before {
      background-image: url("/uploads/orange-bolt.svg");
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 16px;
      width: 16px;
      left: -$ic-300;
      position: absolute;
      top: 5px;
    }
  }
}
